name: Golangci-lint

# golangci-lint is a fast Go linters runner. It runs linters in parallel,
# uses caching, supports yaml config, has integrations with all major IDE and
# has dozens of linters included.
# see: https://github.com/golangci/golangci-lint-action

on: [pull_request]
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Go 1.17
        uses: actions/setup-go@v2
        with:
          go-version: "^1.17" # The Go version to download (if necessary) and use.

      - run: go version

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: latest
          skip-go-installation: true
          args: --timeout=5m
