# Workflow to run tests for PRs from forked repository
name: Test for forked repository

# Run on pull requests events from forked repository
on: [pull_request]

jobs:
  test-for-fork:
    # Run only for forked repository
    if: github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - name: Set up Go 1.20+
        uses: actions/setup-go@v6
        with:
          go-version: "^1.20"
          check-latest: true

      - run: go version

      - name: Install coap-client
        run: |
          if [ "${{ matrix.os }}" == "ubuntu-latest" ]; then
            sudo apt-get update
            sudo apt-get install -y libcoap3-bin
            sudo ln -s /usr/bin/coap-client-notls /usr/bin/coap-client 
          elif [ "${{ matrix.os }}" == "macOS-latest" ]; then
            brew install libcoap
          fi
        shell: bash

      # Checks-out repository under $GITHUB_WORKSPACE
      - name: Checkout
        uses: actions/checkout@v5

      # Build everything
      - name: Run a build
        run: go build ./...

      # Runs a single command using the runners shell, -p1 for `race: limit on 8128 simultaneously alive goroutines is exceeded, dying` at macos
      - name: Run a test
        run: go test -v -race ./... -coverpkg=./... -covermode=atomic -coverprofile=./coverage.txt
